@media screen and (min-width: 670px) {
    header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-self: right;
    }

    .nav a {
        color: white;
        display: block;
        text-decoration: none;
    }

    #temple-grid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	    grid-gap: 10px;
    }

    h1 {
        grid-column: 1 / -1;
    }
}