* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: blue;
    color: white;
    font-size: 2rem;
    padding: 10px;
}

main {
    min-height: 16rem;
}

form {
    background-color: #eee;
    justify-self: center;
    max-width: 600px;
    border: solid 1px #000000;
    margin: 1rem 0
}

fieldset {
    margin: 2rem;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: .5rem 2%;
}

legend {
    color: #1a307a;
    padding: 0 .5rem;
}

label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.radio {
    color: #ffa500;
}

div {
    padding-top: 1rem;
    color: #1a307a;
    font-size: .9rem;
}

input[type="text"],
input[type="date"],
textarea,
select {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 270px;
    appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
}

input[type="submit"] {
    border: 1px solid #555;
    background-image: linear-gradient(#008000, #005000);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 300px;
    margin: -1rem 2.4rem 2rem 2.4rem;
    box-shadow: 1px 1px 4px #999;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1rem;
}