* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: blue;
    --secondary-color: lightgray;
    --text-color: white;
}

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

picture {
    background-color: blue;
    color: white;
}

picture img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    min-height: 270px;
}

section {
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    justify-self: center;
    padding: 1rem 2rem;
    margin: 0.8rem 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

li {
    list-style: none;
    margin: 0.2rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
}