body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid rgba(0, 0, 0, 0.2) 2px;
    padding: 5px;
    background-color: rgb(150, 150, 253);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    background-color: rgb(200, 200, 255);
    padding: 1rem;
}